body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: teal;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 18px;
  background: teal;
  cursor: pointer;
}

.selection-area {
  background: #00ff6a2d;
  border: 1px solid #ff5900;
}



.selectable {
  background: #d21010;
  color: #fff;
}


/* @keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(55, 10, 64);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
} */

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0px teal;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-animation {
  0% {

  }
  50% {
    opacity: 0.1;
  }
  100% {
  }
}



/* Path: className selectable */