body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selection-area {
  background: #00ff6a2d;
  border: 1px solid #ff5900;
}



.selectable {
  background: #d21010;
  color: #fff;
}


/* @keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(55, 10, 64);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
} */


@keyframes pulse-animation {
  0% {

  }
  50% {
    opacity: 0.1;
  }
  100% {
  }
}



/* Path: className selectable */